<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovePlayer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>183DE0D41E56DCAF00548EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DE0ED1E56DCAF00548EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>183DE0F81E56DCAF00548EDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
